

.theme-default-content h2,
.theme-default-content h3
.theme-default-content h4,
.theme-default-content h5 {
    font-weight: 400;
}

.theme-default-content h3{
    padding: 55px 0 20px;
    font-size: 1.17rem;
}

.theme-default-content h2{
    border: none;
    padding-bottom: 1rem;
}

.content pre {
    margin: 0 !important;
}

.theme-default-content:not(.custom) {
    max-width: 1000px !important
}

.sidebar{
    border: none;
    width: 15rem;
}

.page {
    padding-left: 15rem;
}