$border-radius: 4px;

$brand-primary: #2080f7 !default;
$brand-success: #3bcd8d !default;
$brand-danger: #fe5332 !default;
$brand-warning: #ff952c !default;
$brand-info: #959596 !default;

$primary-hover: #3d95ff !default;
$success-hover: #4de6a3 !default;
$danger-hover: #ff765b !default;
$warning-hover: #ffaa56 !default;
$info-hover: #a5a7ac !default;

$primary-active: #1978ec !default;
$success-active: #28b97a !default;
$danger-active: #f34a28 !default;
$warning-active: #f18a22 !default;
$info-active: #82848a !default;
